# Use npmjs registry for all packages
registry=https://registry.npmjs.org/

# Always authenticate when accessing the registry
always-auth=true

# Environment variable that GitHub Actions fills with your Automation token
//registry.npmjs.org/:_authToken=${NPM_TOKEN}